# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Virtual Environment
venv/
.venv/
env/
ENV/
# Configuration & Secrets
.env
instance/
.flaskenv
# OS generated
.DS_Store
Thumbs.db
# VS Code / PyCharm settings
.vscode/
.idea/
# kiro
.kiro

# Local upload folder
uploads

### --- AWS / Deployment ---
# AWS CLI or SAM local caches
.aws/
.serverless/

# === Python Testing and Coverage ===
.coverage
htmlcov/
coverage.xml
.pytest_cache/
.cov/